* {
    margin: 0;
    border: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background-color: #ddd;
    box-shadow: inset 0 0 2px 2px #bbb;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}
button{
    transform: scale(1, 1);
    transition: 0.2s;
}
button:active {
    transform: scale(0.9, 0.9);
    transition: 0.2s;
}

/* index.html */
#top {
    z-index: 100;
    margin: 0px;
    background-color: #fff;
    box-shadow: 0px 3px 3px 3px #ddd;
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
}
#title {
    margin-left: 50px;
    padding-top: 10px;
    width: fit-content;
    text-shadow: 1px 1px 2px #aaa;
}
#title h2 {
    width: 200px;
}
#menu {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
}
#menu:hover {
    background-color: #ddd;
}

#middle {
    margin: 80px 0 0 calc(50% - 276px);
    display: grid;
    grid-template-columns: repeat(4,120px);
    grid-template-rows: repeat(2,140px);
    grid-gap: 24px;
}
#bottom {
    position: absolute;
    background-color: #222;
    bottom: 0px;
    width: 100%;
    height: 100px;
    color: #ddd;
    z-index: 100;
}
.items {
    width:  120px;
    height: 140px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px #ddd;
    animation-name: itemunhover;
    animation-duration: 0.1s;
    transform: scale(1, 1);
    transition-duration: 0.1s;
}
.items:hover {
    animation-name: itemhover;
    animation-duration: 0.1s;
    transform: scale(1.05, 1.05);
    transition-duration: 0.1s;
    background-color: #f9f9f9;
    box-shadow: 6px 6px 6px 6px #ddd;
}
.itempicts {
    margin: 20px 20px 10px 20px;
    width:  80px;
    height: 80px;
}
.itemnames {
    text-align: center;
}
@keyframes itemhover {
    from {
        background-color: #fff;
        box-shadow: 3px 3px 3px 3px #ddd;
    }
    to {
        background-color: #f9f9f9;
        box-shadow: 6px 6px 6px 6px #ddd;
    }
}
@keyframes itemunhover {
    from {
        background-color: #f9f9f9;
        box-shadow: 6px 6px 6px 6px #ddd;
    }
    to {
        background-color: #fff;
        box-shadow: 3px 3px 3px 3px #ddd;
    }
}

#menupage {
    z-index: 125;
    display: none;
    overflow: hidden;
    position: fixed;
    float: right;
    height: 0px;
    min-height: 0px;
    width: 30%;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px #ddd;
    top: 60px;
    right: 0;
    animation-duration: 1s;
}
.menuitems {
    padding: 10px;
    box-shadow: 3px 3px 3px 3px #ddd;
}
.menuitems a{
    text-decoration: none;
    font-size: larger;
    color: #000;
    max-height: 20px;
}
.menuitems:hover {
    animation-name: itemhover;
    animation-duration: 0.1s;
    background-color: #f9f9f9;
    box-shadow: 6px 6px 6px 6px #ddd;
}
@keyframes menuopen {
    from {
        height: 0px;
        min-height: 0px;
    }
    to {
        height: calc(100% - 170px);
        min-height: 185px;
    }
}
@keyframes menuclose {
    from {
        height: calc(100% - 170px);
        min-height: 185px;
    }
    to {
        height: 0px;
        min-height: 0px;
    }
}

#friends {
    float: left;
    margin: 20px 0 20px 10px;
}
#bottom a {
    color: #ddd;
}
#refer {
    float: right;
    bottom: 0px;
    margin: 20px 10px 20px 0;
}

#donate {
    z-index: 125;
    margin: 0px;
    border-spacing: 0px;
    margin: -204.9px 0px 0px -150.9px;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 301.8px;
    height: 409.8px;
}
#mask {
    z-index: 125;
    display: none;
    position: fixed;
    width: auto;
    float: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #666;
    opacity: 0.2;
}

/* blog.html */
#blog {
    padding-top: 80px;
    margin-left: 30px;
    width: calc(100% - 30px);
}
.blocks{
    width: 80%;
    padding: 20px;
    margin: 15px 0 0 3%;
    border-radius: 5px;
    animation-name: blogunhover;
    animation-duration: 0.1s;
    transform: scale(1, 1);
    transition-duration: 0.1s;
    background-color: #fff;
    box-shadow: 0px 0px 3px 3px #ddd;
}
.blocks:hover {
    animation-name: bloghover;
    animation-duration: 0.1s;
    transform: scale(1.01, 1.01);
    transition-duration: 0.1s;
    background-color: #fff;
    box-shadow: 0px 0px 6px 6px #ddd;
}
@keyframes bloghover {
    from {
        box-shadow: 0px 0px 3px 3px #ddd;
    }
    to {
        box-shadow: 0px 0px 6px 6px #ddd;
    }
}
@keyframes blogunhover {
    from {
        box-shadow: 0px 0px 6px 6px #ddd;
    }
    to {
        box-shadow: 0px 0px 3px 3px #ddd;
    }
}
.blocks h2 {
    margin: 0 0 5px -1%;
    text-shadow: 2px 2px 2px #ccc;
}

/* myself.html */
.linkicons {
    height: 18px;
    width: 18px;
}
#mylinks a {
    color: #000;
    font-size: larger;
}
#myintro p {
    font-size: large;
}

/* 小功能 */
#btn {
    font-size: larger;
}
#back {
    opacity: 0.8;
    position: absolute;
    left: 0;
    border-radius: 5px;
    font-size: x-large;
    background-color: #bbb;
    color: white;
    width: 40px;
    height: 60px;
    box-shadow: 0px 3px 3px 3px #ddd;
}
#back:hover {
    background-color: #ccc;
}
.page{
    text-align: center;
    width: 80%;
    padding: 2%;
    margin: 100px auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 3px #ddd;
}
.page:hover {
    animation-name: bloghover;
    animation-duration: 0.1s;
    background-color: #fff;
    box-shadow: 0px 0px 6px 6px #ddd;
}