* {
    margin: 0;
    border: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    scroll-behavior: smooth;
    background-color: #333;
    color: #fff;
}
body {
    height: 100vh;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background-color: #ddd;
    box-shadow: inset 0 0 2px 2px #bbb;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}
button{
    transform: scale(1, 1);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
button:active {
    transform: scale(0.9, 0.9);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: 0.5s;
}

/* index.html & global */
#top {
    z-index: 100;
    margin: 0px;
    box-shadow: 0px 3px 3px 3px #000;
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: #333;
    color: #fff;
}
#title {
    margin-left: 50px;
    padding-top: 10px;
    width: fit-content;
    text-shadow: 1px 1px 2px #888;
}
#title h2 {
    width: 200px;
}
#menu {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    background-color: #ccc;
}
#menu:hover {
    background-color: #bbb;
}
#menu-top{
    position: absolute;
    background-color: #000;
    border-radius: 2px;
    top: 10px;
    left: 20%;
    width: 60%;
    height: 2px;
}
#menu-mid{
    position: absolute;
    background-color: #000;
    border-radius: 2px;
    top: 19px;
    left: 20%;
    width: 60%;
    height: 2px;
}
#menu-bot{
    position: absolute;
    background-color: #000;
    border-radius: 2px;
    top: 28px;
    left: 20%;
    width: 60%;
    height: 2px;
}
.mvmntp {
    transform: rotate( 135deg)
        translate(6px, -6px);
    transition-duration: 0.5s;
}
.mvmnmd {
    transform: scaleX(0);
    transition-duration: 0.5s;
}
.mvmnbm {
    transform: rotate(-135deg)
        translate(6px, 6px);
    transition-duration: 0.5s;
}
.re-mvmntp{
    transform: rotate(0deg)
        translate(0, 0);
    transition-duration: 0.5s;
}
.re-mvmnmd{
    transform: scaleX(1);
    transition-duration: 0.5s;
}
.re-mvmnbm{
    transform: rotate(0deg)
        translate(0, 0);
    transition-duration: 0.5s;
}
#color {
    margin: 20px 0 0 20px;
    background-color: #333;
}
#normcol, #darkcol {
    width: 15px;
    height: 15px;
    display: none;
}
#sun {
    background-color: #ffc800;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    float: left;
    margin: -40px 0 0 30%;
    opacity: 1;
}
.sunlight {
    background-color: #ffc800;
    width: 4px;
    height: 8px;
    border-radius: 2px;
    position: absolute;
    margin: 6px 0 0 8px;
    transform: rotate(calc(var(--pos) * 30deg)) translateY(4px) scale(0);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-duration: 0.5s;
}
.sunlightact {
    transform: rotate(calc(var(--pos) * 30deg)) translateY(15px) scale(1);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-duration: 0.5s;
}
#moon {
    background-color: #333;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    float: right;
    margin: -40px 30% 0 0;
    box-shadow: inset 8px -8px #00aeff;
    opacity: 1;
}
.moonrot {
    transform: rotate(1turn);
    transition-timing-function: linear;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}
.moonlight {
    background-color: #00aeff;
    width: 4px;
    height: 8px;
    border-radius: 2px;
    position: absolute;
    margin: 6px 0 0 8px;
    transform: rotate(calc(var(--pos) * 30deg)) translateY(4px) scale(0);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-duration: 0.5s;
}
.moonlightact {
    transform: rotate(calc(var(--pos) * 30deg)) translateY(15px) scale(1);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-duration: 0.5s;
}

#middle {
    margin: 80px 0 0 calc(50% - 276px);
    display: grid;
    grid-template-columns: repeat(4,120px);
    grid-template-rows: repeat(2,140px);
    grid-gap: 24px;
}
#bottom {
    position: absolute;
    background-color: #222;
    bottom: 0px;
    width: 100%;
    height: 100px;
    color: #ddd;
    z-index: 100;
}
.items {
    width:  120px;
    height: 140px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #000;
    animation-name: itemunhover;
    animation-duration: 0.1s;
    transform: scale(1, 1);
    transition-duration: 0.1s;
}
.items:hover {
    animation-name: itemhover;
    animation-duration: 0.1s;
    transform: scale(1.05, 1.05);
    transition-duration: 0.1s;
    box-shadow: 6px 6px 6px 6px #111;
}
.itempicts {
    margin: 20px 20px 10px 20px;
    width:  80px;
    height: 80px;
}
.itemnames {
    text-align: center;
}
@keyframes itemhover {
    from {
        box-shadow: 3px 3px 3px 3px #000;
    }
    to {
        box-shadow: 6px 6px 6px 6px #111;
    }
}
@keyframes itemunhover {
    from {
        box-shadow: 6px 6px 6px 6px #111;
    }
    to {
        box-shadow: 3px 3px 3px 3px #000;
    }
}

#menupage {
    z-index: 125;
    display: none;
    overflow: hidden;
    position: fixed;
    float: right;
    height: 0px;
    min-height: 0px;
    width: 30%;
    min-width: 200px;
    background-color: #222;
    box-shadow: 3px 3px 3px 3px #000;
    top: 60px;
    right: 0;
    animation-duration: 1s;
    align-items: center;
}
.menuitems {
    padding: 10px;
    box-shadow: 3px 3px 3px 3px #000;
}
.menuitems a{
    text-decoration: none;
    font-size: larger;
    background-color: transparent;
    color: #fff;
    max-height: 20px;
}
.menuitems:hover {
    animation-name: itemhover;
    animation-duration: 0.1s;
    background-color: #444;
    box-shadow: 6px 6px 6px 6px #111;
}
@keyframes menuopen {
    from {
        height: 0px;
        min-height: 0px;
    }
    to {
        height: calc(100% - 170px);
        min-height: 185px;
    }
}
@keyframes menuclose {
    from {
        height: calc(100% - 170px);
        min-height: 185px;
    }
    to {
        height: 0px;
        min-height: 0px;
    }
}


#friends {
    background-color: #222;
    float: left;
    margin: 20px 0 20px 10px;
}
#bottom p, #bottom del {
    background-color: #222;
}
#bottom a {
    color: #ddd;
}
#refer {
    background-color: #222;
    float: right;
    bottom: 0px;
    margin: 20px 10px 20px 0;
}

#donate {
    z-index: 125;
    margin: 0px;
    border-spacing: 0px;
    margin: -204.9px 0px 0px -150.9px;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 301.8px;
    height: 409.8px;
}
#mask {
    z-index: 125;
    display: none;
    position: fixed;
    width: auto;
    float: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #666;
    opacity: 0.2;
}

/* blog.html */
#blog {
    padding-top: 80px;
    margin-left: 30px;
    width: calc(100% - 30px);
}
.blocks{
    width: 80%;
    padding: 20px;
    margin: 15px 0 0 3%;
    border-radius: 5px;
    animation-name: blogunhover;
    animation-duration: 0.1s;
    transform: scale(1, 1);
    transition-duration: 0.1s;
    background-color: #333;
    box-shadow: 0px 0px 3px 3px #000;
}
.blocks:hover {
    animation-name: bloghover;
    animation-duration: 0.1s;
    transform: scale(1.01, 1.01);
    transition-duration: 0.1s;
    background-color: #333;
    box-shadow: 0px 0px 6px 6px #111;
}
@keyframes bloghover {
    from {
        box-shadow: 0px 0px 3px 3px #000;
    }
    to {
        box-shadow: 0px 0px 6px 6px #111;
    }
}
@keyframes blogunhover {
    from {
        box-shadow: 0px 0px 6px 6px #111;
    }
    to {
        box-shadow: 0px 0px 3px 3px #000;
    }
}
.blocks h2 {
    margin: 0 0 5px -1%;
    text-shadow: 2px 2px 2px #888;
}
.blocks a {
    color: #ddd;
}
#tojump {
    box-shadow: 3px 3px 3px 3px #000;
    background-color: #333;
}
#tojump:hover {
    box-shadow: 3px 3px 6px 6px #111;
}
@keyframes tojumphover {
    from {
        box-shadow: 3px 3px 3px 3px #000;
    }
    to {
        box-shadow: 3px 3px 6px 6px #111;
    }
}
@keyframes tojumpunhover {
    from {
        box-shadow: 3px 3px 6px 6px #111;
    }
    to {
        box-shadow: 3px 3px 3px 3px #000;
    }
}
#topbtn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    box-shadow: 0px 0px 2px 2px #000;
    background-color: #333;
    animation-name: topbtnunhover;
    animation-duration: 0.1s;
    transform: scale(1, 1);
    transition: 0.2s;
}
#topbtn:hover {
    opacity: 1;
    box-shadow: 0px 0px 4px 4px #111;
    animation-name: topbtnhover;
    animation-duration: 0.1s;
    transform: scale(1.05, 1.05);
    transition-duration: 0.1s;
}
@keyframes topbtnhover {
    from {
        box-shadow: 0px 0px 2px 2px #000;
    }
    to {
        box-shadow: 0px 0px 4px 4px #111;
    }
}
@keyframes topbtnunhover {
    from {
        box-shadow: 0px 0px 4px 4px #111;
    }
    to {
        box-shadow: 0px 0px 2px 2px #000;
    }
}
#tojump {
    opacity: 0.5;
    position: absolute;
    right: 5px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #000;
    background-color: #333;
    animation-name: tojumpunhover;
    animation-duration: 0.1s;
}
#tojump:hover {
    opacity: 1;
    box-shadow: 3px 3px 6px 6px #111;
    animation-name: tojumphover;
    animation-duration: 0.1s;
}
@keyframes tojumphover {
    from {
        box-shadow: 3px 3px 3px 3px #000;
    }
    to {
        box-shadow: 3px 3px 6px 6px #111;
    }
}
@keyframes tojumpunhover {
    from {
        box-shadow: 3px 3px 6px 6px #111;
    }
    to {
        box-shadow: 3px 3px 3px 3px #000;
    }
}

/* myself.html */
.linkicons {
    height: 18px;
    width: 18px;
}
#mylinks a {
    color: #ddd;
    font-size: larger;
}
#myintro p {
    font-size: large;
}

/* 小功能 */
#btn {
    font-size: larger;
}
#back {
    opacity: 0.8;
    position: absolute;
    left: 0;
    border-radius: 5px;
    font-size: x-large;
    background-color: #333;
    width: 40px;
    height: 60px;
    box-shadow: 0px 3px 3px 3px #111;
}
#back:hover {
    background-color: #ccc;
}
.page{
    text-align: center;
    width: 80%;
    padding: 2%;
    margin: 100px auto;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0px 0px 3px 3px #000;
}
.page:hover {
    animation-name: bloghover;
    animation-duration: 0.1s;
    background-color: #333;
    box-shadow: 0px 0px 6px 6px #111;
}

/* login */
#loginwindow {
    z-index: 200;
    width: 250px;
    height: 180px;
    align-items: center;
    border-radius: 5px;
    background-color: #333;
    position: fixed;
    top: calc(50% - 110px);
    left: calc(50% - 145px);
    padding: 20px;
    box-shadow: 0px 0px 3px 3px #000;
    transform: scale(0);
}
#loginwindow:hover {
    box-shadow: 0px 0px 6px 6px #111;
}
#wintitle {
    text-align: center;
    margin: 0 0 10px 101px;
    width: fit-content;
    cursor: all-scroll;
}
#usernm, #passwd {
    outline: none;
    margin: 0 0 10px 5%;
    width: 90%;
    height: 30px;
    border-bottom: 3px;
    border-color: #555;
    border-style: solid;
    background-color: transparent;
    font-size: medium;
    transform: scale(1);
    transition-duration: 0.5s;
}
#usernm:focus, #passwd:focus {
    transform: scale(1.1);
    transition-duration: 0.5s;
}
#cancel {
    float: left;
    margin-left: 25px;
}
#submit {
    float: right;
    margin-right: 25px;
}
#cancel, #submit {
    margin-top: 20px;
    height: 30px;
    width: 48.5px;
    background-color: #333;
    color: #eee;
    border: 2px;
    border-radius: 5px;
    border-color: #000;
    border-style: solid;
    transform: scale(1, 1);
    transition: 0.2s;
}
#cancel:active, #submit:active {
    transform: scale(0.9, 0.9);
    transition: 0.2s;
}