html {
    border: 0;
    margin: 0;
}
body {
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
background {
    background: url("https://www.yangshangzhen.com/bing/wallpaper") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@keyframes backblur {
    from{
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
    }
    to{
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}
@keyframes debackblur {
    from{
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    to{
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
    }
}
bodyhover {
    animation-fill-mode: forwards;
    animation-duration: 1s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at top, #0000, #0009);
}

#title {
    align-self: center;
    margin: 50px 0 20px 0;
    font-size: xx-large;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    transition-duration: 1s;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    box-shadow: none;
    background-color: #0000;
}
#title:hover {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: #0002 0px 8px 8px;
    background-color: #0001;
}
#time {
    font-size: xx-large;
    transform: scale(1);
    transition-duration: 0.5s;
    margin: 10px 50px 0 50px;
}
#time:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}
#date {
    font-size: small;
    transform: scale(1);
    transition-duration: 0.5s;
    margin-top: 10px;
}
#date:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

#search {
    align-self: center;
    width: 40%;
}
#srchBox {
    outline: none;
    border: 0px;
    border-radius: 20px;
    background-color: #ddd;
    opacity: 0.3;
    height: 40px;
    width: 100%;
    font-size: medium;
    text-align: center;
}
.srchBoxlosfoc {
    animation: srchbxlosfoc;
    animation-duration: 0.3s;
}
#srchBox:focus {
    box-shadow: 0 0 3px 3px #ddd;
    opacity: 0.8;
    animation: srchbxfoc 200ms;
    margin-left: -50%;
    width: 200%;
}
/* #srchBox::before {
    content: url("https://www.baidu.com/favicon.ico");
    width: 30px;
    height: 30px;
} */
#srchBox::placeholder {
    font-size: medium;
    text-align: center;
}
#srchBox:focus::placeholder {
    color: transparent;
}
@keyframes srchbxfoc {
    from {
        opacity: 0.3;
        box-shadow: 0 0 0 0 #ddd;
        margin-left: 0px;
        width: 100%;
    }to {
        opacity: 0.8;
        box-shadow: 0 0 3px 3px #ddd;
        margin-left: -50%;
        width: 200%;
    }
}
@keyframes srchbxlosfoc {
    from {
        opacity: 0.8;
        box-shadow: 0 0 3px 3px #ddd;
        margin-left: -50%;
        width: 200%;
    }to {
        opacity: 0.3;
        box-shadow: 0 0 0 0 #ddd;
        margin-left: 0px;
        width: 100%;
    }
}

#setting {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 5px;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    transform: rotate(0);
    transition-duration: 1s;
}
#setting:hover {
    transform: rotate(180deg);
    transition-duration: 1s;
    background-color: #FFF4;
}
#settingpage {
    z-index: 100;
    position: absolute;
    top: 44px;
    right: 5px;
    width: fit-content;
    height: 0;
    border-radius: 20px;
    background-color: #eee8;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
@keyframes setpageact {
    from{
        padding: 0 0 0 0;
        height: 0;
    }to{
        padding: 20px 0 20px 0;
        height: 90px;
    }
}
@keyframes setpagecls {
    from{
        padding: 20px 0 20px 0;
        height: 90px;
    }to{
        padding: 0 0 0 0;
        height: 0;
    }
}
.setitems {
    margin: 0 20px 0 20px;
    padding: 10px;
    border-radius: 15px;
    height: 20px;
    width: fit-content;
}
.setitems:hover {
    background-color: #eee6;
}
#settingpage a {
    color: #222;
    text-decoration: none;
}

#apps {
    position: absolute;
    top: 8px;
    left: 18px;
    padding: 2px;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    transform: scale(1);
    transition-duration: 0.5s;
}
#apps:hover {
    transform: scale(1.25);
    transition-duration: 0.5s;
    background-color: #FFF4;
}
#appspage {
    z-index: 100;
    position: absolute;
    top: 44px;
    left: 5px;
    width: fit-content;
    height: 0;
    border-radius: 4px;
    background-color: #eee8;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
@keyframes appspageact {
    from{
        height: 0;
    }to{
        height: 120px;
    }
}
@keyframes appspagecls {
    from{
        height: 120px;
    }to{
        height: 0;
    }
}
.applinks {
    padding: 8px 16px 8px 16px;
    height: 20px;
    overflow: hidden;
    transform: scale(1);
    transition-duration: 0.5s;
}
.applinks:hover {
    background-color: #eee6;
    transform: scale(1.25);
    transition-duration: 0.5s;
}
.appicons {
    height: 20px;
    width: 20px;
}
.appNames {
    display: inline;
    color: #222;
    text-decoration: none;
}

.alertPages {
    z-index: 150;
    width: 60%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 20px;
    background-color: #eeeb;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.closers {
    width: 40px;
    height: 40px;
    float: right;
    transform: rotate(0);
    transition-duration: 0.5s;
}
.closers:hover {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}
.alertPages h2 {
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
}
.alertPages p {
    margin: 20px;
}
.settingOptions {
    margin: 20px 0 0 20px;
}
select {
    float: right;
    margin-right: 40px;
    border-radius: 5px;
    background-color: #eeeb;
}
option {
	appearance: none;
	-moz-appearance: none; 
	-webkit-appearance: none;  
    background-color: #eeeb;
}